<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

      <ComponentRef Id="MainAppShortcut" />
      
    </ComponentGroup>


    <DirectoryRef Id="INSTALLFOLDER" FileSource="!(loc.AppBuildFolder)">
      
      
    
      <Component Id="MainAppShortcut" Guid="{5EC67607-F25F-4433-A3F1-67029BB46A77}">

          <Shortcut Id="MainAppShortcut" 
                    Name="!(loc.ShortProductName)" 
                    Target="[INSTALLFOLDER]\WindowsFormsApp1.exe" 
                    Directory="InstallProgramMenuFolder"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="icon.ico"
                    
                    />
        
          <RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\!(loc.ShortProductName)" Name ="Shortcut" Value="1" Type = "integer" KeyPath="yes" />
        
          <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />
      </Component> 
      

      
      
      
      
    </DirectoryRef>
    
    
  </Fragment>
  
  
</Wix>
